<% provide(:title,'All users') %>
<h1> All users </h1>
<%= will_paginate @users, {link_options: {'data-remote': true}, params: {action: 'index'}} %>
<ul class="users">
    <%= render @users %>
</ul>

<%# js_will_paginate @users %>
