
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Jogging App", root_path, id: "logo" %>
    </div>

    <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
          </ul>
        </nav>
    </div>
</header>